    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" >Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="e-mail address" ng-model="logged_user">
        </div>
      </div>
      
    <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Task to do" ng-model="task_description">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="logController.addTask(logged_user,task_description)">Add!</button>
          </span>
        </div>
      </div>
    </div>
    <a>{{logged_user}}</a>
    
        <div class="col-lg-6">
            <button class="btn btn-secondary" type="button" ng-click="logController.ChangeUserFilter('all')">List_all</button>
        </div>
       
        <div class="col-lg-6">
            <button class="btn btn-secondary" type="button" ng-click="logController.ChangeUserFilter(logged_user)">List_user</button>
        </div> 
        
  <h3>Show me</h3>    
  <label>
    <input type="radio" ng-model="type_of_state" value="" ng-change="logController.ChangeStateFilter(type_of_state)">
    All
  </label>
  <label>
    <input type="radio" ng-model="type_of_state" value="active" ng-change="logController.ChangeStateFilter(type_of_state)">
    Active
  </label>
  <label>
    <input type="radio" ng-model="type_of_state" value="done" ng-change="logController.ChangeStateFilter(type_of_state)">
    Done
  </label>
  
 <li ng-repeat="task in logController.all_task | filter:logController.userFilter | filter:logController.stateFilter" class="list-group" >
   {{task.user}} {{task.description}} {{task.state }}
 
 <div ng-hide="logController.NotUserTask(task,logged_user)"> 
 <button class="btn btn-secondary" ng-click="logController.ChangeStatus(task)" >Change status</button>
 <button class="destroy" ng-click="logController.DestroyTask(task)">Destroy</button>
 </div>
 </li>