  <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
               <h3> 
                <a ui-sref="home">Logout</a>
                <a ui-sref="stat">Statistic</a>
                </h3>
            </ul>
          </div>
        </nav>
  
    <div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Task to do" ng-model="task_description">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="logController.addTask(task_description)">Add!</button>
          </span>
        </div>
      </div>
    </div>
    
    <h3>Show me</h3>  
      <lable>
        <input type="radio" ng-model="user_type" value="logged_user" ng-change="logController.ChangeUserFilter()" >
         My list
      </lable> <br/>
      <lable>
        <input type="radio" ng-model="user_type" value='all' ng-change="logController.ChangeUserFilter(user_type)" >
        All list
      </lable> <br/>
    
        <label>
          <input type="radio" ng-model="type_of_state" value="" ng-change="logController.ChangeStateFilter(type_of_state)">
          All
        </label>
        <label>
          <input type="radio" ng-model="type_of_state" value="active" ng-change="logController.ChangeStateFilter(type_of_state)">
          Active
        </label>
        <label>
          <input type="radio" ng-model="type_of_state" value="done" ng-change="logController.ChangeStateFilter(type_of_state)">
          Done
        </label>
  
 <li ng-repeat="task in logController.all_task | filter:logController.userFilter | filter:logController.stateFilter" class="list-group" >
   {{task.user}} {{task.description}} {{task.state }}
 
 <div ng-hide="logController.NotUserTask(task)"> 
 <button class="btn btn-secondary" ng-click="logController.ChangeStatus(task)" >Change status</button>
 <button class="destroy" ng-click="logController.DestroyTask(task)">Destroy</button>
 </div>
 </li>
 

 