		  <nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <ul class="nav navbar-nav">
			      <li><a ui-sref="todo">To Do</a></li>
			      <li><a ui-sref="stat">Statistic</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			      <li><a>{{todoController.selectedUser}}</a></li>
			      <li><a ui-sref="home"><span class="glyphicon glyphicon-log-in"></span>  Logout</a></li>
			    </ul>
			  </div>
			</nav>    
  
    <div class="row">
    <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Task to do ..." ng-model="task_description">
          <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" ng-click="todoController.addTask(task_description)">Add!</button>
          </span>
        </div>
      </div>
    </div>
    
    <h3>Show me</h3>  
      <lable>
        <input type="radio" ng-model="user_type" value="todoged_user" ng-change="todoController.ChangeUserFilter()" >
         My list
      </lable> <br/>
      <lable>
        <input type="radio" ng-model="user_type" value='all' ng-change="todoController.ChangeUserFilter(user_type)" >
        All list
      </lable> <br/> <br/>
    

<table class="table table-striped">
    <thead>
      <tr></tr>
        <th>Description</th>
        <th>Status</th>
        <th>Owner</th>        
        <th>Action(owner)</th>
      </tr>
    </thead>
    <tbody ng-repeat="task in todoController.all_task | filter:todoController.userFilter | filter:todoController.stateFilter">
    <tr>
        
        <td>{{task.description}}</td>
        <td>{{task.state}}</td>
        <td>{{task.user}}</td>
        <td>  
          <button ng-hide="todoController.NotUserTask(task)" class="destroy" ng-click="todoController.ChangeStatus(task)" >Change status</button> 
          <button ng-hide="todoController.NotUserTask(task)" class="destroy" ng-click="todoController.DestroyTask(task)">Destroy</button>
        </td> 
    </tr>
    </tbody>
  </table>
         <label>
          <input type="radio" ng-model="type_of_state" value="" ng-change="todoController.ChangeStateFilter(type_of_state)">
          All
         </label>
        <label>
          <input type="radio" ng-model="type_of_state" value="active" ng-change="todoController.ChangeStateFilter(type_of_state)">
          Active
        </label>
        <label>
          <input type="radio" ng-model="type_of_state" value="done" ng-change="todoController.ChangeStateFilter(type_of_state)">
          Done
        </label>
